<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css">
  <script src='jquery-3.6.1.min.js'></script>
  <!-- <script data-main="scripts/main" src="require.js"></script> -->
  <script type="module" src="../getPosition.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <title>SERVER</title>
</head>

<body>
  <div id="main-div">
    <div id="results">
      <div id="map" style="height: 400px; width: 100%;"></div>
      <div id="positionInfoDiv">
          <h3>Position Info: </h3>
          <table>
            <tr style=" text-align: left;">
            <th>Latitude: </th>
            <td><%=latitude%></td>
          </tr>
          <tr style=" text-align: left;">
            <th>Longitude: </th>
            <td><%=longitude%></td>
          </tr>
          </table>
          <a href="https://192.168.0.92:443"><button class="button" id="positionHP">Home Page</button></a>
      </div>
    </div>
  </div>
</body>
<script>
  console.log("Latitude:" + <%=latitude%>)
  console.log("Longitude:" + <%=longitude%>)
  window.latitude = <%=latitude%>
  window.longitude = <%=longitude%>
</script>
</html>